body{
    font-size:20px;
}
#chicken-content{
    background-color:#999999;
    padding:5px 10px;
    margin:20px 0;
}
#sushi-content{
    background-color:#999999;
    padding:5px 10px;
    margin:20px 0;
}
#beef-content{
    background-color:#999999;
    padding:5px 10px;
    margin:20px 0;
} 
header h1{
font-size:2.5em;
padding:2%;
}
.navbar-brand{
    font-size:24px;
}
.container{
    width:90%;
}

